---
import RecipeDetailPage from '../../components/RecipeDetailPage';
import type { Props } from '../../utils/recipes';
import '../../styles/tailwind.css';
export { getRecipeStaticPaths as getStaticPaths } from '../../utils/recipes';

const { data: recipe, url } = Astro.props as Props;

const title = recipe.name;
const description = recipe.description;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    {title &&<title>{title}</title>}
    {description && <meta name="description" content={description} />}
  </head>
  <body>
    <RecipeDetailPage recipe={recipe} url={url} />
  </body>
</html>
