---
import RecipesListingPage from '../components/RecipesListingPage';
import { loadRecipes } from '../utils/recipes';

const recipes = await loadRecipes();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Recipes</title>
  </head>
  <body>
    <RecipesListingPage recipes={recipes} />
  </body>
</html>
